@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-gradient: linear-gradient(
      182deg,
      #ff1d00 -18.5%,
      #ff9038 39.98%,
      #edb44d 98.47%
    );
  }
  body {
    @apply bg-layer-primary;
  }
}

@layer components {
  .layout-container {
    @apply mx-auto max-w-[1700px] px-[16px] sm:px-[24px];
  }

  .btn {
    @apply h-[32px] whitespace-nowrap rounded-lg px-[12px] text-[14px] font-[500] hover:opacity-80 lg:h-[40px] lg:px-[20px] lg:text-[16px];
  }
  .btn[disabled] {
    @apply !opacity-50;
  }

  .btn-primary {
    @apply btn border-none !text-white ![background:var(--primary-gradient)];
  }

  .btn-secondary {
    @apply btn border !border-[#475467] !text-white ![background:var(--secondary-gradient)];
  }

  .btn-tertiary {
    @apply btn border !border-[#D0D5DD] !bg-[#1A1A1A] !text-[#FFF4EB];
  }

  @media only screen and (max-width: 1024px) {
    /* hide scrollbar */
    /* ::-webkit-scrollbar {
      display: none;
    } */
  }

  .text-stroke {
    -webkit-text-stroke: 2px black;
  }

  .animateAnchor {
    animation-name: anchor-swing;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    transform-origin: top right;
    animation-iteration-count: infinite;
  }

  @keyframes anchor-swing {
    0% {
      transform: rotate(-10deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* end custom scroll bar */
}

@layer utilities {
}
